@page "/"
@namespace Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instant Blazor</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script type="text/javascript" src="~/blazor.polyfill.min.js"></script>
    <script type="text/javascript" src="~/InstantBlazor.js"></script>
    <script type="text/javascript">InstantBlazor.init()</script>
</body>
</html>
